<!-- <div class="example-boundary">
<div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>


<div class="map" style="display: block;">
  <canvas baseChart 
    [data]="pieChartData" 
    [labels]="pieChartLabels" 
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
  </canvas>
</div>
</div>
</div> -->

<!-- <div class="example-boundarys">
<div cdkDropList cdkDropListOrientation="horizontal" class="example-list" cdkDragBoundary=".example-boundarys"  (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let timePeriod of timePeriods" cdkDrag>{{timePeriod}}</div>
</div>
</div> -->

<div class="example-boundary">
  <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)" >
    <div class="example-box"  *ngFor="let timePeriod of timePeriods"  cdkDragBoundary=".example-boundary" cdkDrag>{{timePeriod}}</div>
  </div>
</div>
